.linkSocial{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.75rem;
    min-width: 250px;
    background-color: #000;
    color: #fff;
    transition: all .2s ease;
    border: 2px solid #000;

    img{
        margin-right: 0.5rem;
        
    }

    &:hover{
        background: #fff;
        color: #000;
        transform: scale(1.05);
        transition: all .2s ease;
    }
    &:nth-child(1){
        img{
            filter: brightness(1);
        }
    }

    
}